::selection{
    background-color: red;
}
body {
    background-color: rgb(40, 40, 40);
}

/* Heading */
.head{
    color: white;
    text-decoration: none;
}

/* Logos */
.logos{
    padding: 15px;
    height: 60px;
    width: 60px;
    align-items: center;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    align-items: center;
}
.images-all{
    display: flex;
}
.search{
    position: relative;

}
/* search-icon */
.search-icon{
    position: absolute;
    display: none;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 1000;
    background-color: rgb(61, 61, 61);
}
.search:hover .search-icon{
    display: block;
 }
 /* cart-icon */
.cart-icon{
    position: absolute;
}
.cart-icon{
    position: absolute;
    display: none;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 1000;
    background-color: rgb(61, 61, 61);
}
.cart:hover .cart-icon{
    display: block;
 }
/* popup box */
.profile {
    position: relative;
    display: inline;
}
.popup {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    background-color: rgb(49, 49, 49);
    color: white;
    border: 0.5px solid white;
    width: 260px;
    padding: 20px;
    border-radius: 5px;
    z-index: 50;
}
 .profile:hover .popup{
    display: block;
 }

/* notification */
.notification{
    position: absolute;
    background-color: red;
    height: 20px;
    width: 20px;
    top: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: -25px;
}

/* Carousel */
.carousel-inner {
    margin-top: 50px;
}

.flow{
    height: 600px;
    margin-left: 850px;
}
.discription{
    position: absolute;
    color: white;
    margin-left: 150px;
    margin-top: 120px;
    font-size: large;
}
.carousel-indicators button{
    height: 10px !important;
    width: 10px !important;
}
button{
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 4px;
}

 
 /* login/signup button */
 .massage{
    background-color: rgb(49, 49, 49);
    border: 0.5px solid white;
 }

 /* featured products */
.featured{
    text-align: center;
    color: white;
    margin-top: 200px;
}
.products{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    height: 300px;
    padding: 10px;
    gap: 50px;
}
.details{
    text-align: center;
    color: white;
    padding: 5px;
    background-color: rgb(28, 28, 28);
}
.item{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.rate{
    margin-left: 40px;
    color: grey;
}
/* top products */
.featured2{
    text-align: center;
    color: white;
    margin-top: 200px;
}
.top-products{
    display: flex;
    margin-bottom: 20px;
    margin-left: 300px;
    gap: 150px;
    margin-bottom: 100px;
}
 .but{
    color: white;
    text-decoration: none;
    margin-top: 50px;
 }
 .but:hover{
    background-color: red;
 }
.second{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: space-around;
    justify-items: center;
    margin: 20px;
}
.second2{
    border: 1px solid white;
    color: white;
    padding: 10px;
    width: 340px;
}
.second2 img {
    margin-top: 20px;
    margin-left: 50px;
}

.fa-solid{
    color: red;
}
.addtocart{
    width: 320px;
    height: 45px;
}
.browse{
    text-decoration: none;
    color: white;

}
.all{

    margin-top: 150px;
    margin-left: 90px;
}
.arrow{
    color: white;
    margin-left: 10px;
}

.featured-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    margin-top: 100px;
    margin-left: 70px;
}
.text{
    margin-left: 80px;
    margin-top: -55px;

}
.feature{
    margin-top: 20px;
}

/* Footer */
.foot{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    margin-top: 50px;
    background-color: black;
    padding: 20px;
    margin-bottom: 5px;

}
.footlink{
    text-decoration: none;
    color: white;
}
.mailarea{
    background-color: black;
    color: white;
    border: 0.5px solid white;
    width: 300px;
}
.area{
    width: 370px;
    color: grey;
}
.Subscribe{

    margin-top: 10px;
    margin-bottom: 30px;
}
/* footer2 */
.fa-brands{
    padding: 10px;
}
.created{
    font-size: large;
    color: white;
}
.foot2{
    color: white;
    margin-left: -200px;
}